*{ /* asterisk selects all*/
	margin:0;
	padding:0;
}

body{
	background-image: url(../media/clouds.gif);
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

audio{
	position:fixed;
	bottom:0;
	right:0;
	z-index: 700;
	mix-blend-mode: lighten;
}

video{
	position:absolute;
	top:0;
	left:0;
	min-height: 100%;
	min-width:100%;
	width:auto;
	height:auto;
	z-index: 150;
	opacity:0.20;
}

.museum{
	position:absolute;
	width:100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
}

.glitch{
	position:absolute;
	bottom: 0px;
    left: 0px;
	width:100%;
	height: 100%;
	z-index: -100;
	object-fit: cover;
	opacity:0.50;
	mix-blend-mode: overlay;
}


.walking{
	position:absolute;
	bottom: 0px;
    left: 0px;
	width:100%;
	height: 65%;
	object-fit: cover;
	opacity:0.40;
	z-index: 600;
}


.fireworks{
	position:absolute;
	top:20%;
	left:35%;
	z-index:-101;
	mix-blend-mode: overlay;
}

